:root {
    --adm-color-primary: #ed3e77;
    --adm-color-text: #222;
    --adm-color-background: #f7f8fa;
    --adm-color-success: #4caf50;
    --adm-color-warning: #ff9800;
    --adm-color-danger: #f44336;
}
