.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:active {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.label {
    display: block;
    font-size: 12px;
    margin-top: 4px;
    opacity: 0.8;
}
